@import 'compass/css3';
@import 'mixins';
@import 'theme-default-variables';
@import 'theme-green-variables';
@import 'theme-blue-variables';

$themes: (
  theme-default: (
    primary-text-color: $primary-background-color,
    primary-background-color: $primary-background-color,
    secondary-background-color: $secondary-background-color,
    success-color: $success-color,
    side-nav-background-color: $side-nav-background-color,
    profile-pic-border-color: $profile-pic-border-color,
    side-nav-header-color: $side-nav-header-color,
    side-nav-header-popup-color: $side-nav-header-popup-color,
    side-nav-logo-text-name-color: $side-nav-logo-text-name-color,
    side-nav-item-color: $side-nav-item-color,
    side-nav-item-active-border-color: $side-nav-item-active-border-color,
    page-content-background: $page-content-background,
    main-nav-background-color: $main-nav-background-color,
    main-nav-border-bottom-color: $main-nav-border-bottom-color,
    main-nav-menu-handler-background-color: $main-nav-menu-handler-background-color,
    main-nav-menu-handler-border-color: $main-nav-menu-handler-border-color,
    main-nav-menu-handler-background-hover-color: $main-nav-menu-handler-background-hover-color,
    main-nav-menu-item-color: $main-nav-menu-item-color,
    main-nav-menu-icon-color: $main-nav-menu-icon-color,
    logout-link-background-color: $logout-link-background-color,
    logout-link-color: $logout-link-color,
    logout-icon-color: $logout-icon-color,
    notification-box-background: $notification-box-background,
    notification-box-border: $notification-box-border,
    notification-text-color: $notification-text-color,
    notification-time-stamp-color: $notification-time-stamp-color,
    notification-time-pane-color: $notification-time-pane-color,
    notification-time-pane-background: $notification-time-pane-background,
    notification-view-all-text-color: $notification-view-all-text-color,
    notification-count-background: $notification-count-background,
    view-all-notification-background-color: $view-all-notification-background-color,
    apps-box-background: $apps-box-background,
    apps-text-color: $apps-text-color,
    apps-view-all-text-color: $apps-view-all-text-color,
    right-settings-panel-background: $right-settings-panel-background,
    right-settings-panel-text-color: $right-settings-panel-text-color,
    switchbox-background-color: $switchbox-background-color,
    switchbox-border-color: $switchbox-border-color,
    switchbox-color: $switchbox-color,
    switchbox-on-color: $switchbox-on-color,
    switchbox-off-color: $switchbox-off-color,
    switchbox-off-text-color: $switchbox-off-text-color,
    footer-background: $footer-background,
    footer-border-color: $footer-border-color
  ),
  theme-blue: (
    primary-text-color: $primary-background-color-blue,
    primary-background-color: $primary-background-color-blue,
    secondary-background-color: $secondary-background-color-blue,
    success-color: $success-color-blue,
    side-nav-background-color: $side-nav-background-color-blue,
    profile-pic-border-color: $profile-pic-border-color-blue,
    side-nav-header-color: $side-nav-header-color-blue,
    side-nav-header-popup-color: $side-nav-header-popup-color-blue,
    side-nav-logo-text-name-color: $side-nav-logo-text-name-color-blue,
    side-nav-item-color: $side-nav-item-color-blue,
    side-nav-item-active-border-color: $side-nav-item-active-border-color-blue,
    page-content-background: $page-content-background-blue,
    main-nav-background-color: $main-nav-background-color-blue,
    main-nav-border-bottom-color: $main-nav-border-bottom-color-blue,
    main-nav-menu-handler-background-color: $main-nav-menu-handler-background-color-blue,
    main-nav-menu-handler-border-color: $main-nav-menu-handler-border-color-blue,
    main-nav-menu-handler-background-hover-color: $main-nav-menu-handler-background-hover-color-blue,
    main-nav-menu-item-color: $main-nav-menu-item-color-blue,
    main-nav-menu-icon-color: $main-nav-menu-icon-color-blue,
    logout-link-background-color: $logout-link-background-color-blue,
    logout-link-color: $logout-link-color-blue,
    logout-icon-color: $logout-icon-color-blue,
    notification-box-background: $notification-box-background-blue,
    notification-box-border: $notification-box-border-blue,
    notification-text-color: $notification-text-color-blue,
    notification-time-stamp-color: $notification-time-stamp-color-blue,
    notification-time-pane-color: $notification-time-pane-color-blue,
    notification-time-pane-background: $notification-time-pane-background-blue,
    notification-view-all-text-color: $notification-view-all-text-color-blue,
    notification-count-background: $notification-count-background-blue,
    view-all-notification-background-color: $view-all-notification-background-color-blue,
    apps-box-background: $apps-box-background-blue,
    apps-text-color: $apps-text-color-blue,
    apps-view-all-text-color: $apps-view-all-text-color-blue,
    right-settings-panel-background: $right-settings-panel-background-blue,
    right-settings-panel-text-color: $right-settings-panel-text-color-blue,
    switchbox-background-color: $switchbox-background-color-blue,
    switchbox-border-color: $switchbox-border-color-blue,
    switchbox-color: $switchbox-color-blue,
    switchbox-on-color: $switchbox-on-color-blue,
    switchbox-off-color: $switchbox-off-color-blue,
    switchbox-off-text-color: $switchbox-off-text-color-blue,
    footer-background: $footer-background-blue,
    footer-border-color: $footer-border-color-blue
  ),
  theme-green: (
    primary-text-color: $primary-background-color-green,
    primary-background-color: $primary-background-color-green,
    secondary-background-color: $secondary-background-color-green,
    success-color: $success-color-green,
    side-nav-background-color: $side-nav-background-color-green,
    profile-pic-border-color: $profile-pic-border-color-green,
    side-nav-header-color: $side-nav-header-color-green,
    side-nav-header-popup-color: $side-nav-header-popup-color-green,
    side-nav-logo-text-name-color: $side-nav-logo-text-name-color-green,
    side-nav-item-color: $side-nav-item-color-green,
    side-nav-item-active-border-color: $side-nav-item-active-border-color-green,
    page-content-background: $page-content-background-green,
    main-nav-background-color: $main-nav-background-color-green,
    main-nav-border-bottom-color: $main-nav-border-bottom-color-green,
    main-nav-menu-handler-background-color: $main-nav-menu-handler-background-color-green,
    main-nav-menu-handler-border-color: $main-nav-menu-handler-border-color-green,
    main-nav-menu-handler-background-hover-color: $main-nav-menu-handler-background-hover-color-green,
    main-nav-menu-item-color: $main-nav-menu-item-color-green,
    main-nav-menu-icon-color: $main-nav-menu-icon-color-green,
    logout-link-background-color: $logout-link-background-color-green,
    logout-link-color: $logout-link-color-green,
    logout-icon-color: $logout-icon-color-green,
    notification-box-background: $notification-box-background-green,
    notification-box-border: $notification-box-border-green,
    notification-text-color: $notification-text-color-green,
    notification-time-stamp-color: $notification-time-stamp-color-green,
    notification-time-pane-color: $notification-time-pane-color-green,
    notification-time-pane-background: $notification-time-pane-background-green,
    notification-view-all-text-color: $notification-view-all-text-color-green,
    notification-count-background: $notification-count-background-green,
    view-all-notification-background-color: $view-all-notification-background-color-green,
    apps-box-background: $apps-box-background-green,
    apps-text-color: $apps-text-color-green,
    apps-view-all-text-color: $apps-view-all-text-color-green,
    right-settings-panel-background: $right-settings-panel-background-green,
    right-settings-panel-text-color: $right-settings-panel-text-color-green,
    switchbox-background-color: $switchbox-background-color-green,
    switchbox-border-color: $switchbox-border-color-green,
    switchbox-color: $switchbox-color-green,
    switchbox-on-color: $switchbox-on-color-green,
    switchbox-off-color: $switchbox-off-color-green,
    switchbox-off-text-color: $switchbox-off-text-color-green,
    footer-background: $footer-background-green,
    footer-border-color: $footer-border-color-green
  )
);

$theme-blue-color: #1c86f7;
$theme-green-color: #40b30d;
$theme-red-color: #ef4136;

$primary-font: 'Nunito', sans-serif;

